*{
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
    background: #001e4d;
    color: antiquewhite;
    margin: 7px;
    padding: 0px;
}
.right_column{
    text-align: right;
}
.left_column{
    text-align: left;
}